version="1.0.0"
tags={
	"Gameplay"
	"Leaders"
	"Character"
	"Anime"
}
name="ZL - 大肥鱼天枢执政 (独特传奇领袖·三形态)"
picture="thumbnail.png"
supported_version="v4.3.*"
path="C:/Users/YOUR_USERNAME/Documents/Paradox Interactive/Stellaris/mod/zl_unique_administrator"
